.navbar {
  box-shadow: 2px 2px 5px #000;
  opacity: 0.9;
  background: linear-gradient(90deg,#000000 0%,#2096D9 43.02%,#5c35ee 58.12%,#000000 100%);

}
.navbar .nav-item .nav-link {
  color: #fff;
}
body{
    background: #30336b;
}

.main-header {
  position: relative;
  background: url(../img/background.jpeg);
  background-size: cover;
  min-height 700px;
}

.background-overlay {
  background: rgba(48, 51, 107,.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control, .btn{
  border-radius: 0;
}

.team, footer {
  background: #0d0e10;
}


